<meta charset="UTF-8">

<!--№1 Сделайте свойство isAdult. Покажите текст для взрослых, если в нашей переменной лежит значение true.-->

<div *ngIf="isAdult">
  текст для взрослых
</div>

<!--№1 Пусть в переменной age хранится возраст пользователя. Покажите текст для взрослых, если его возраст больше 18 лет.-->

<div *ngIf="checkAge > 18; else notAge">
  ты взрослый
</div>

<!--№1 Пусть в свойстве age хранится возраст пользователя. Покажите текст для взрослых, если его возраст больше 18 лет, и текст для детей в противном случае.-->
<ng-template #notAge>
  <div>не взрослый</div>
</ng-template>

<!-- №1 Сделайте свойство isAdult. Покажите текст для взрослых, если в нашей переменной лежит значение true.-->
@if (isAdult){
  <div>ого взросляк</div>
}

<!--№1 Пусть в свойстве age хранится возраст пользователя. Покажите текст для взрослых, если его возраст больше 18 лет.
№1⊗jsagPmCdEC

Пусть в свойстве age хранится возраст пользователя. Покажите текст для взрослых, если его возраст больше 18 лет, и текст для детей в противном случае.-->


@if (checkAge > 18) {
  <div>ВАУ ВЗРОСЛЫЙ</div>
} @else {
  <div>НЕЕЕЕ</div>
}

<!--№1 Пусть в свойстве day лежит какое-то число из интервала от 1 до 31. Определите в какую декаду месяца попадает это число (в первую, вторую или третью).-->

@if (day >= 1 || day <= 10){
  <div>первая декада</div>
} @else if (day >= 11 || day <= 20){
  <div>вторая декада</div>
} @else if (day >= 21 || day <= 31){
  <div>третья декада</div>
} @else {
  <div>введи корректную дату</div>
}


<!--№1 Пусть в свойстве lang лежит название языка: 'ru', 'en' или 'de'. В зависимости от содержимого покажите фразу на заданном языке или ошибку, если такого языка нет.-->

@switch (str){
  @case ('en'){
    <div>
      английский
    </div>
  }
  @case ('ru'){
    <div>
      русский
    </div>
  }
  @case ('de') {
    <div>
      немецкий
    </div>
  }
  @default {
    нет такого языка
  }
}

<!--№1 Сделайте три дива, объединенных одним условием.-->

<ng-template *ngIf="isDiv">
  <div>первый див</div>
  <div>второй</div>
  <div>третий</div>
</ng-template>

<!--Дан массив:
export class AppComponent {
	public arr: number[] = [1, 2, 3, 4, 5];
}
Выведите каждый элемент этого массива в отдельном абзаце.

Модифицируйте предыдущую задачу так, чтобы в абзацы выводились квадраты элементов нашего массива.
-->

<p *ngFor="let le of arr">
  {{Math.pow(le, 2)}}
</p>

<!--Дан массив:

export class AppComponent {
	public arr: numbers[] = [1, 2, 3, 4, 5];
}
Выведите каждый элемент этого массива в отдельном абзаце.-->

@for (elem of arr; track $index){
  <p>{{elem}}</p>
}

<!--Дан массив:

export class AppComponent {
	public arr: string[] = ['a', 'b', 'c', 'd'];
}
Выведите его номера, но так, чтобы они начинались с единицы, а не с нуля.-->

@for (elem of strArr; track $index){
  <div>{{$index + 1}}</div>
}


<!--Дан массив:

export class AppComponent {
	public arr: string[] = ['a', 'b', 'c', 'd'];
}
Выведите элементы массива в виде списка ul, покрасив первую li в красный цвет.

Дан массив:

export class AppComponent {
	public arr: string[] = ['a', 'b', 'c', 'd'];
}
Выведите элементы массива в виде списка ul, покрасив первую li в красный цвет, а последнюю - в зеленый.-->

<ul>
  @for (elem of strArr; track $index; let isFirst = $first; let isLast = $last) {
    <li [ngStyle]="{'color': isFirst ? 'red' : (isLast ? 'green' : null)}">
      {{ elem }}
    </li>
  }
</ul>


<!--Дан массив:

export class AppComponent {
	public arr: string[] = ['a', 'b', 'c', 'd'];
}
Выведите элементы массива в виде списка ul, покрасив четные li в красный цвет, а нечетные в зеленый.-->


<ul>
  @for (elem of strArr; track $index; let isEven = $even; let isOdd = $odd){
    <li [ngStyle]="{'color': isEven ? 'green': (isOdd ? 'red' : null)}">
      {{elem}}
    </li>
  }
</ul>
